# Name: Radial_Profile_Angle_Ext

# Description:
# This plugin ables to make radial profiles where the size, position of
# the ROI can be modified as well as the angle over which the integration
# is made. The modifications can either made thru the pugin window or thru
# keyboard shortkeys.
# Additionnally, the integration calculation can be done over a whole stack.

# The plugin is implementing the GenericRecallableDialog developped in the
# Contour_Plotter routine by Walter O'Dell PhD (wodell@rochester.edu) as
# well as extending the MultyPlotWindow developped in the Color_Profiler
# routine by Dimiter Prodanov (University of Leiden).

# The plugin includes also a routine abling the calculation of the radius
# of the generated Roi and saving the data in a result panel.

# Author: Philippe Carl
# Version: 1.1
# Date: 2005/04/20
# Requires: ImageJ 1.33s

Plugins, "Radial Profile Height", Radial_Profile_Height
Plugins, "Radial Profile Angle", Radial_Profile_Angle_Ext
Help>About Plugins, "Radial Profile Angle...", Radial_Profile_Angle_Ext("about")
